## E12 Naive Bayes


This Report will explain the steps I've taken in this project, have fun in it~

[1 Pre-processing](#1-Pre-processing)

    |- 1.1 Load Training set, Test set.

    |- 1.2 Fill NaN and NULL value

    |- 1.3 Conditional probability from continuous data

    |- 1.4 Conditional probability from discrete data

[2 Classifier](#2-Classifier)

    |- 2.1 Naive Bayes

    |- 2.2 Behavior on training set

    |- 2.3 Behavior on testing set
    
---

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Error: Error: Activating Python 3.7.3 64-bit ('TOOLS': virtualenv) to run Jupyter failed with Error: spawn cmd EACCES.

In [ ]:
import os
import numpy as np
import pandas as pd
from tqdm import tqdm
import matplotlib.pyplot as plt
%matplotlib inline

Error: Error: Activating Python 3.7.3 64-bit ('TOOLS': virtualenv) to run Jupyter failed with Error: spawn cmd EACCES.

# 1 Pre-processing
[TOP](#E11-Decision-Tree)

## 1.1 Load Training set, Test set.

In [ ]:
# Load Training set, Test set.
# train_data_path = 'dataset/adult.data'
# test_data_path = 'dataset/adult.test'

train_data_path = '/content/drive/My Drive/Colab Notebooks/dataset/adult.data'
test_data_path = '/content/drive/My Drive/Colab Notebooks/dataset/adult.test'

header = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
          'marital-status', 'occupation', 'relationship', 'race', 'sex',
          'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'Salaries']

train_data = pd.read_csv(train_data_path, names=header)
test_data = pd.read_csv(test_data_path, names=header)
test_data.drop(0, inplace=True)
test_data.reset_index(drop=True, inplace=True)

Error: Error: Activating Python 3.7.3 64-bit ('TOOLS': virtualenv) to run Jupyter failed with Error: spawn cmd EACCES.

In [8]:
display(train_data.head(2))
display(test_data.head(2))

   age          workclass  fnlwgt  ... hours-per-week  native-country Salaries
0   39          State-gov   77516  ...             40   United-States    <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States    <=50K

[2 rows x 15 columns]

  age workclass    fnlwgt  ... hours-per-week  native-country Salaries
0  25   Private  226802.0  ...           40.0   United-States   <=50K.
1  38   Private   89814.0  ...           50.0   United-States   <=50K.

[2 rows x 15 columns]

## 1.2 Fill NaN and NULL value

This step is just the same as in E11, so I do no explaination here.

**Fill train data.**

In [0]:
train_data.replace(' ?', np.nan, inplace=True)
train_data.fillna(train_data.mode().iloc[0], inplace=True)

**Fill test data.**

In [0]:
test_data.replace(' ?', np.nan, inplace=True)
test_data.fillna(test_data.mode().iloc[0], inplace=True)

Done.

## 1.3 Conditional probability from continuous data

In Naive Bayes, I use Gaussian Distribution to exract the conditional probability from continuous data.

In [13]:
continuous_cols = ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']
display(train_data[continuous_cols].head(2))
display(test_data[continuous_cols].head(2))

   age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week
0   39   77516             13          2174             0              40
1   50   83311             13             0             0              13

  age    fnlwgt  education-num  capital-gain  capital-loss  hours-per-week
0  25  226802.0            7.0           0.0           0.0            40.0
1  38   89814.0            9.0           0.0           0.0            50.0

**Function: continuous_cond_prob(y, x, Data)**

**parameters:**
- y: Current class.
- x: Target attribute name.
- xi: Target attribute sample.
- Data: Current data set.

**return:**
- conditional prob. $P(x=x_i|y=y_k)=\dfrac{1}{\sqrt{2 \pi \sigma_{k}^{2}}} e^{-\frac{\left(x_{i}-\mu_{k}\right)^{2}}{2 \sigma_{k}^{2}}}$

In [14]:
def continuous_cond_prob(y, x, xi, Data):
    # Use pandas to locate the target attribute:
    # .loc[boolean]: filter by boolean to get the slices.
    x = Data.loc[Data['Salaries']==y][x]
    # Ensure every element are of int64 type,
    # for calculation below.
    x = np.array(x, dtype=np.int64)
    # Calculate mu, sigma
    mu = np.average(x)
    sigma = np.var(x)
    # Calculate the Gassusian distribution.
    return 1.0/np.sqrt(2*np.pi*sigma) * np.exp(-(int(xi)-mu)**2/(2*sigma))

# sample
print(continuous_cond_prob(' <=50K', 'fnlwgt', 25, train_data))
print(continuous_cond_prob(' <=50K.', 'age', 25, test_data))

7.584878484228889e-07
0.019575603532745584

## 1.4 Conditional probability from discrete data

**Function: discrete_cond_prob(y, x, Data)**

**parameters:**
- y: Current class.
- x: Target attribute name.
- Data: Current data set.

**return:**
- conditional prob. $P(x=x_i|y=y_k)$

In [15]:
def discrete_cond_prob(y, x, Data):
    # Use pandas to locate the target attribute:
    # .loc[boolean]: filter by boolean to get the slices.
    x = list(Data.loc[Data['Salaries']==y][x])
    # Use set() to found how many distinguished values
    # the target features have.
    # And also count out.
    x_set = list((set(x)))
    x_count = [x.count(val)/len(Data) for val in x_set]
    # A dictionary storing all discrete conditinal pr. 
    return dict(zip(x_set, x_count))

# sample
print(discrete_cond_prob(' >50K', 'education', train_data))

{' Assoc-voc': 0.011086883080986456, ' Some-college': 0.04259697183747428, ' Assoc-acdm': 0.00813857068271859, ' 9th': 0.0008292128620128375, ' 1st-4th': 0.00018426952489174165, ' HS-grad': 0.051441909032277876, ' Bachelors': 0.06821043579742637, ' Prof-school': 0.012991001504867787, ' 12th': 0.0010134823869045791, ' 10th': 0.0019041184238813304, ' Masters': 0.02945241239519671, ' Doctorate': 0.009397745769478825, ' 11th': 0.0018426952489174165, ' 7th-8th': 0.0012284634992782777, ' 5th-6th': 0.000491385399711311}

---


# 2 Classifier

[TOP](#E12-Naive-Bayes)

## 2.1 Naive Bayes

In this dataset, for a given piece of data:

$(age, workclass, ..., native-country),$

we can only calculate:

$P1 = P('>50K')P(age|'>50K')P(workclass|'>50K')...P(native-country|'>50K')$

$P2 = P('<=50K')P(age|'<=50K')P(workclass|'<=50K')...P(native-country|'<=50K')$

**The larger one is the prediction of Naive Bayes strategy.**

**Function: NaiveBayes(Data， sample, labels)**

**parameters:**
- Data: 2-d matrix, Current data set.
- sample: list/ndarray, Current predicting sample.
- labels: list, The candidate labels for the sample.

**return:**
- Prediction of the label.

In [0]:
def NaiveBayes(Data, sample, labels):
    # Initialize Probabilities of each label
    Prob = [len(Data.loc[Data['Salaries'] == label])/len(Data) for label in labels]
    # Calculating Conditional probabilities and multiply to Prob..
    for idx, col in enumerate(Data.columns[:-1]):
        if col in continuous_cols:
            for idx_p, P in enumerate(Prob):
                Prob[idx_p] *= continuous_cond_prob(labels[idx_p], col, sample[idx], Data)
        else:
            for idx_p, P in enumerate(Prob):
                Prob[idx_p] *= discrete_cond_prob(labels[idx_p], col, Data).get(sample[idx], 0)
    max_prob = max(Prob)
    return labels[Prob.index(max_prob)]

## 2.2 Behavior on training set

In [12]:
miss_rate = 0
for i in tqdm(train_data.index):
    label = train_data.iloc[i][-1]
    predition = NaiveBayes(train_data, train_data.iloc[i][:-1], [' >50K', ' <=50K'])
    if label != predition:
        miss_rate += 1
        
print("Accuracy on training set: {:4f}".format(1 - miss_rate/len(train_data)))

100%|██████████| 32561/32561 [1:45:25<00:00,  5.17it/s]

Accuracy on training set: 0.815945

## 2.3 Behavior on testing set

In [33]:
miss_rate = 0
for i in tqdm(test_data.index):
    label = test_data.iloc[i][-1]
    predition = NaiveBayes(test_data, test_data.iloc[i][:-1], [' >50K.', ' <=50K.'])
    if label != predition:
        miss_rate += 1
        
print("Accuracy on training set: {:4f}".format(1 - miss_rate/len(test_data)))

100%|██████████| 16281/16281 [32:36<00:00,  8.24it/s]

Accuracy on training set: 0.815613

Great, it works.

As a conclusion,

- Accuracy on training set: **81.59%**
- Accuracy on testing set: **81.56%**

[TOP](#E11-Decision-Tree)

---

2019/11 Karl